<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Client Deposit Page</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  </head>
  <body>
    <h1>To Complete Your Booking, Please Make A Deposit</h1>
    
    <form action="" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_UE4EJ3S8CTer2dnVaNDBfrZx"
        data-amount="1000"
        data-name="Deposit for Call with Trevor"
        data-description="Refundable deposit"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="usd"
        th:attr="data-email=${client.email}">
      </script>
    </form>
    
    <div id="myContainerElement" style="margin-top: 1.5em;"></div>

    <script>
    
        paypal.Button.render({
    
            // Set up a getter to create a Payment ID using the payments api, on your server side:
    
            payment: function() {
                return new paypal.Promise(function(resolve, reject) {
    
                    // Make an ajax call to get the Payment ID. This should call your back-end,
                    // which should invoke the PayPal Payment Create api to retrieve the Payment ID.
    
                    // When you have a Payment ID, you need to call the `resolve` method, e.g `resolve(data.paymentID)`
                    // Or, if you have an error from your server side, you need to call `reject`, e.g. `reject(err)`
    
                    jQuery.post('/paypalApi/create-payment')
                        .done(function(data) { resolve(data.paymentID); })
                        .fail(function(err)  { reject(err); });
                });
            },
    
            // Pass a function to be called when the customer approves the payment,
            // then call execute payment on your server:
    
            onAuthorize: function(data) {
    
                console.log('The payment was authorized!');
                console.log('Payment ID = ',   data.paymentID);
                console.log('PayerID = ', data.payerID);
    
                // At this point, the payment has been authorized, and you will need to call your back-end to complete the
                // payment. Your back-end should invoke the PayPal Payment Execute api to finalize the transaction.
    
                jQuery.post('/paypalApi/execute-payment', { paymentID: data.paymentID, payerID: data.payerID })
                    .done(function(data) { /* Go to a success page */ })
                    .fail(function(err)  { /* Go to an error page  */  });
            },
    
            // Pass a function to be called when the customer cancels the payment
    
            onCancel: function(data) {
    
                console.log('The payment was cancelled!');
                console.log('Payment ID = ', data.paymentID);
            }
    
        }, '#myContainerElement');
    </script>
  </body>
</html>