<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Thanks for Booking</title>
  </head>
  <body>
    <h1>Your phone call has been booked, Trevor will contact you soon.</h1>
    
    <p>Want to get a great introductory rate on a month's worth of coding?</p>
    
    <p>Get 25% off our normal rate by pre-booking your time now?</p>
    
    <p>Normally a month would be $10,400, but you can book Trevor's time for one month for just $7,800.</p>
    
    <form action="" method="post">
      <button>Book Now</button>
    </form>
  </body>
</html>